@import '../../styles/index'
    
.todoItem
    border: 1px solid $default
    border-radius: 3px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around

    &.active

        h3
            color: $main

    &_title
        white-space: nowrap // Запрещаем перенос текста на вторую строку
        overflow: hidden // Обрезаем все, что выходит за границу
        text-overflow: ellipsis // Добавляем многоточие